openapi: "3.0.3"
info:
  description: |
    # Official documentation for the invo.space API.
    
    ## Glossary
    
    * Internal ID: identificator in invo.space
    * External ID: identificator in your or other system
    * Document: Expense, Invoice or Order.
    
    ## Common formats
    * UUID version 4
    * date-time is in ISO 
    * errors follow https://datatracker.ietf.org/doc/html/rfc7807

  version: "1.0.0"
  title: "invo.space"
  contact:
    email: "bros@codebros.cz"

servers:
  - url: "https://invo.space/api/v1"
    description: "Production server"

paths:
  /contact:
    #    $ref: "./paths/contacts.yaml"
    get:
      tags:
        - contacts
      summary: "List Contacts"
      responses:
        200:
          description: "A list of Contacts."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Participant"

    post:
      tags:
          - contacts
      summary: "Create new Contact"
      operationId: "createContact"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Participant'
      responses:
        200:
          description: Contact was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /contacts/{id}:
    get:
      tags:
        - contacts
      summary: Get single Contact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Identification of the Contact. As of now it is symbol of the Contact.
      responses:
        200:
          description: Contact with requested ID was found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Always 'ok'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Internal ID of the Contact.
                        example: 37

  /expense:
    #    $ref: "./paths/expenses.yaml"
    get:
      tags:
        - expenses
      summary: "List Expenses"
      description: "Returns a list of Expenses for a given year and optionally for a given month."
      operationId: "getExpenses"
      parameters:
        - in: query
          name: year
          schema:
            type: integer
            description: Year in four digit format YYYY
            example: 2023
          required: true
        - in: query
          name: month
          schema:
            type: integer
            description: Month in non-zerofilled format
            example:
              - 3
              - 12
            nullable: true
      responses:
        200:
          description: "A list of Expenses."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Expense"

    post:
      tags:
        - expenses
      summary: "Create new Expense"
      #      description:
      operationId: "createExpense"
      requestBody:
        $ref: '#/components/requestBodies/CreateExpense'
      responses:
        200:
          description: Expense was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDocumentResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /expense/{id}:
    get:
      tags:
        - expenses
      summary: Get single Expense
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Identification of the Expense. As of now it is symbol of the Expense.
      responses:
        200:
          description: Expense with requested ID was found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Expense'
                  - type: object
                    properties:
                      permalink:
                        type: string
                        format: url
                        description: Permanent link leading to PDF version of the Expense.
                        example: /permalink/expense/9961d718-cae7-48e9-845d-e5c21f4ecdb3
        default:
          $ref: '#/components/responses/ErrorResponse'

  /invoices:
#    $ref: "./paths/invoices.yaml"
    get:
      tags:
        - invoices
      summary: "List Invoices"
      description: "Returns a list of Invoices for a given year and optionally for a given month."
      operationId: "getInvoices"
      parameters:
        - in: query
          name: year
          schema:
            type: integer
            description: Year in four digit format YYYY
            example: 2023
          required: true
        - in: query
          name: month
          schema:
            type: integer
            description: Month in non-zerofilled format
            example:
              - 3
              - 12
            nullable: true
      responses:
        200:
          description: "A list of Invoices."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Invoice"

    post:
      tags:
        - invoices
      summary: "Create new Invoice"
#      description:
      operationId: "createInvoice"
      requestBody:
        $ref: '#/components/requestBodies/CreateInvoice'
      responses:
        200:
          description: Invoice was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDocumentResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /invoices/{id}:
    get:
      tags:
        - invoices
      summary: Get single Invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Identification of the Invoice. As of now it is symbol of the Invoice.
      responses:
        200:
          description: Invoice with requested ID was found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Invoice'
                  - type: object
                    properties:
                      permalink:
                        type: string
                        format: url
                        description: Permanent link leading to PDF version of the Invoice.
                        example: /permalink/invoice/9961d718-cae7-48e9-845d-e5c21f4ecdb3
        default:
          $ref: '#/components/responses/ErrorResponse'

  /orders:
    #    $ref: "./paths/orders.yaml"
    get:
      tags:
        - orders
      summary: "List Orders"
      description: "Returns a list of Orders for a given year and optionally for a given month."
      operationId: "getOrders"
      parameters:
        - in: query
          name: year
          schema:
            type: integer
            description: Year in four digit format YYYY
            example: 2023
          required: true
        - in: query
          name: month
          schema:
            type: integer
            description: Month in non-zerofilled format
            example:
              - 3
              - 12
            nullable: true
      responses:
        200:
          description: "A list of Orders."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Order"

    post:
      tags:
        - orders
      summary: "Create new Order"
      operationId: "createOrder"
      requestBody:
        $ref: '#/components/requestBodies/CreateOrder'
      responses:
        200:
          description: Order was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDocumentResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /orders/{id}:
    get:
      tags:
        - orders
      summary: Get single Order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Identification of the Order. As of now it is symbol of the Order.
      responses:
        200:
          description: Order with requested ID was found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Order'
                  - type: object
                    properties:
                      permalink:
                        type: string
                        format: url
                        description: Permanent link leading to PDF version of the Order.
                        example: /permalink/order/9961d718-cae7-48e9-845d-e5c21f4ecdb3
        default:
          $ref: '#/components/responses/ErrorResponse'

components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: Unique identification of the error.
        status:
          type: integer
          description: HTTP status code for convenience.
        code:
          type: integer
          description: Numeric code uniquely identifying the error. Note that codes are NOT unique across endpoints.
          example:
            - 40001
        title:
          type: string
          description: Message uniquely identifying the error.
        detail:
          type: string
          description: Request specific description of the error.

    Address:
      type: object
      properties:
        address:
          type: string
          description: Street and house number
          example: Hradčanská 1
        city:
          type: string
          example: Praha
        zip:
          type: string
          description: Postal code
          example: 110 00
        country:
          type: string
          example: Česká Republika

    Document:
      type: object
      properties:
        symbol:
          type: string
          example: '20230012'
        uuid:
          type: string
          format: uuid
          example: '9961d718-cae7-48e9-845d-e5c21f4ecdb3'
        issuedAt:
          type: string
          format: date-time
          description: Date of issuance that appears on the document
        deadlineAt:
          type: string
          format: date-time
          description: Date until when one wants the payment to be made
        paidAt:
          type: string
          format: date-time
          nullable: true
          description: Date of payment that appears on the document
        description:
          type: string
          nullable: true
          description: Line of text that appears above the list of document items
        vs:
          type: string
          format: numeric-string
          description: Variable symbol
        ss:
          type: string
          format: numeric-string
          description: Specific symbol
        ks:
          type: string
          format: numeric-string
          description: Constant symbol
        createdAt:
          type: string
          format: date-time
          description: Date of creation of the document
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: Date of last modification of the document
        customer:
          $ref: '#/components/schemas/Participant'
        supplier:
          $ref: '#/components/schemas/Participant'
        beneficiary:
          nullable: true
          anyOf:
            - $ref: '#/components/schemas/Participant'
        items:
          type: array
          items:
            $ref: '#/components/schemas/DocumentItem'

    DocumentItem:
      type: object
      required:
        - amount
        - unit
        - description
        - unitPriceTaxFree
        - unitTax
        - unitPrice
        - totalPriceTaxFree
        - totalTax
        - totalPrice
      properties:
        amount:
          type: number
          format: float
          description: Quantity of the item
        unit:
          type: string
          description: Unit of the item
          example:
            - h
            - MD
            - x
            - ks
        description:
          type: string
          description: Description of the item
        unitPriceTaxFree:
          description: Price excluding VAT of a single unit of the item. Is the same as unit unitPrice if no VAT is defined.
          allOf: # todo this nest is a hack for openapi 3.0, see https://github.com/OAI/OpenAPI-Specification/issues/1514#issuecomment-1386613645
            - $ref: "#/components/schemas/Money"
        unitTax:
          description: Tax on a single unit of the item. Is be zero if no VAT is defined.
          allOf:
            - $ref: "#/components/schemas/Money"
        unitPrice:
          description: Unit price of a single unit of the item
          allOf:
            - $ref: "#/components/schemas/Money"
        taxRate:
          type: integer
          description: Tax rate applied on the item
        totalPriceTaxFree:
          description: Price excluding VAT of the whole item. Is the same as unit totalPrice if no VAT is defined.
          allOf:
            - $ref: "#/components/schemas/Money"
        totalTax:
          description: Tax on the whole item. Is be zero if no VAT is defined.
          allOf:
            - $ref: "#/components/schemas/Money"
        totalPrice:
          description: Total price of the whole item
          allOf:
            - $ref: "#/components/schemas/Money"

    Expense:
      allOf:
        - $ref: '#/components/schemas/Document'
        - type: object
          required:
            - expenseType
            - receivedAt
          properties:
            expenseType:
              type: string
              enum:
                - invoice
                - receipt
                - other
            receivedAt:
              type: string
              format: date-time
              description: Date the receipt/invoice was received
            taxableAt:
              type: string
              format: date-time
              description: Date of VAT applicability (DUZP in CZE)
            attachment:
              type: string
              format: binary
              description: File attachment of the expense, e.g. PDF invoice, photo of receipt, etc.
            vatDeductible:
              type: boolean
              description: Whether the VAT is deductible or not. Only for VAT payers.
            vatDeductionProportionPercent:
              type: number
              format: decimal
              description: Proportion of VAT deduction in percent. Only for VAT payers.

    Invoice:
      allOf:
        - $ref: '#/components/schemas/Document'
        - type: object
          properties:
            taxableAt:
              type: string
              format: date-time
              description: Date of VAT applicability (DUZP in CZE)
            order:
              type: string
              nullable: true
              description: Reference to Order ID.

    Order:
      allOf:
        - $ref: '#/components/schemas/Document'

    Money:
      type: object
      properties:
        amount:
          type: string
          description: Amount of currency in cents, e.g. 1000 means 10.00 EUR
          example: 1250
        currency:
          type: string
          description: ISO currency format. So far only CZK is supported.
          example: EUR

    Participant:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Full name of the participant
        company:
          type: string
          description: Optional company name of the participant. If filled, appears on the invoice instead of name.
        email:
          type: string
          format: email
          example: email@example.com
        phone:
          type: string
          example: 603112233
        ico:
          type: string
          nullable: true
          description: Company identification number, may not be present (e.g. end consumer)
          example: 45274649
        dic:
          type: string
          nullable: true
          description: Tax identification number (TIN), may not be presenter
          example: CZ45274649
        accountNumber:
          type: string
          description: Account number including bank code
          example: 1234567890/0000
        iban:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/Address'

    CreateDocumentRequest:
      type: object
      required:
        - customer
        - deadlineAt
        - items
      properties:
        symbol:
          description: Actually a custom symbol (identification) of the Document from your system
          type: string
          nullable: true
        customer:
          anyOf:
            - type: number
              description: Internal ID of Customer
            - $ref: '#/components/schemas/Participant'
        beneficiary:
          nullable: true
          description: Beneficiary feature must be enabled for the account.
          anyOf:
            - type: number
              description: Internal ID of customer
            - $ref: '#/components/schemas/Participant'
        issuedAt:
          nullable: true
          type: string
          format: date-time
          description: |
            Date of issuance that appears on the document. 
            May be provided in relative format, e.g. '+1 day'.
            Current date if not provided.
        paidAt:
          nullable: true
          type: string
          format: date-time
          description: |
            Date of payment that appears on the document. 
            May be provided in relative format, e.g. '+1 day'.  
            Invoice will not be marked as paid if not provided or null.
        deadlineAt:
          type: string
          format: date-time
          description: |
            Date until when one wants the payment to be made. 
            May be provided in relative format, e.g. '+15 days'.
        description:
          type: string
          description: Line of text that appears above the list of document items.
        vs:
          type: string
          description: Variable symbol
        ss:
          type: string
          description: Specific symbol
        ks:
          type: string
          description: Constant symbol
        items:
          type: array
          items:
            $ref: '#/components/schemas/DocumentItem'
          minItems: 1

    CreateDocumentResponse:
      type: object
      properties:
        status:
          type: string
          description: Always 'ok'
        id:
          type: string
          description: Internal ID of the created Document. Currently it is sequence number of the Document.
          example: 20230001
        symbol:
          type: string
          description: Sequence number of the created Document.
          example: 20230001
        uuid:
          type: string
          format: uuid
          description: UUID of the created Document.
          example: 9961d718-cae7-48e9-845d-e5c21f4ecdb3
        permalink:
          type: string
          format: url
          description: Permanent link leading to PDF version of the Document.

  requestBodies:
    CreateExpense:
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CreateDocumentRequest'
              - type: object
                required:
                  - expenseType
                  - receivedAt
                properties:
                    expenseType:
                        type: string
                        enum:
                        - invoice
                        - receipt
                        - other
                    receivedAt:
                      type: string
                      format: date-time
                      description: Date the receipt/invoice was received
                    taxableAt:
                      nullable: true
                      type: string
                      format: date-time
                      description: |
                        Date of VAT applicability.
                        Required for invoices created by VAT payers. Not allowed for non-VAT payers.
                    attachment:
                        type: string
                        format: binary
                        description: File attachment of the expense, e.g. PDF invoice, photo of receipt, etc.
                    vatDeductible:
                        type: boolean
                        description: Whether the VAT is deductible or not. Only for VAT payers.
                    vatDeductionProportionPercent:
                        type: number
                        format: decimal
                        description: Proportion of VAT deduction in percent. Only for VAT payers.

    CreateInvoice:
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CreateDocumentRequest'
              - type: object
                properties:
                  order:
                    type: string
                    nullable: true
                    description: Reference to Internal Order ID.
                  taxableAt:
                    nullable: true
                    type: string
                    format: date-time
                    description: |
                      Date of VAT applicability.
                      May be provided in relative format, e.g. '+1 day'.
                      Required for invoices created by VAT payers. Not allowed for non-VAT payers.

    CreateOrder:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - document
            properties:
              document:
                $ref: '#/components/schemas/CreateDocumentRequest'
              email:
                type: object
                required:
                  - recipient
                  - replyTo
                  - subject
                  - messageText
                properties:
                  recipient:
                    type: string
                    format: email
                  replyTo:
                    type: string
                    format: email
                  cc:
                    type: array
                    items:
                      type: string
                      format: email
                  subject:
                    type: string
                    example: Thank you for your order
                  messageText:
                    type: string
                    example: |
                      Hello,
                      
                      thank you for your order. Please see the attached order with payment information.

  responses:
    ErrorResponse:
      description: General error response for all endpoints
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: There was an error authenticating a request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

webhooks:
  invoicePaid:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  enum:
                    - invoicePaid
                payload:
                  type: object
                  required:
                    - symbol
                    - dateOfPayment
                  properties:
                    symbol:
                      type: string
                      description: Symbol of the paid Invoice
                    orderSymbol:
                      type: string
                      nullable: true
                      description: Symbol of the associated Order
                    customSymbol:
                      type: string
                      nullable: true
                    dateOfPayment:
                      type: string
                      format: date-time

security:
  - bearerAuth: []
